# 依赖目录
node_modules/

# 日志文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 环境变量文件
.env
.env.local
.env.development
.env.test
.env.production

# 构建输出
dist/
build/
out/
.cache/

# 调试文件
.npm
.eslintcache
.nyc_output

# IDE相关
.idea/
.vscode/
*.swp
*.swo

# 操作系统生成文件
.DS_Store
Thumbs.db

# 测试覆盖
coverage/

# 包管理器特定文件
.pnpm-store/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz

# 资源文件
input/*
!input/.gitkeep
output/*
!output/.gitkeep
